<div class="hamburguer-bt" [ngClass]="{'on': menuOpen == true}" (click)="onClickMenu($event)">
  <div class="hamburguer-bt__stripe hamburguer-bt__stripe__top"></div>
  <div class="hamburguer-bt__stripe hamburguer-bt__stripe__middle"></div>
  <div class="hamburguer-bt__stripe hamburguer-bt__stripe__bottom"></div>
</div>

<div class="menu-container">
  <div class="menu-sliders"></div>
  <div class="menu-sliders"></div>
  <div class="menu-sliders"></div>
  <div class="menu">
    <ul>
      <li *ngFor="let item of menuItems">
        <a scrollTo [href]="item.target" (click)="onClickMenu()">{{item.text}}</a>
      </li>
    </ul>
  </div>
</div>
