<div class="find-us">
  <h1>Encuentranos</h1>
  <h2>Donde pueden encontrarnos (o algo así) para hablar con algunos de nuestros clientes (tiendas) para que los podamos
    ubicar o referenciar en la web. También indicar que trabajamos por un comercio directo desde la granja.
  </h2>

  <div class="cities">
    <div class="city" *ngFor="let city of cities">
      <div class="city__name" (click)="onSelectCity(city)">
        <a (mouseover)="mouseHover=city.name" (mouseout)="mouseHover=''">
          <span class="fa fa-map-marker" [class.bounceIn]="mouseHover == city.name"></span>
          {{city.name}}
        </a>
      </div>

    </div>
  </div>

  <div class="map" *ngIf="selectedCity">
    <h3>En {{selectedCity.name}} puedes encontrar nuestros huevos en: </h3>

    <agm-map [latitude]="selectedCity?.location.lat" [longitude]="selectedCity?.location.long" [zoom]="15">
      <ng-container *ngFor="let shop of selectedCity?.shops">
        <agm-marker [latitude]="shop.marker.lat" [longitude]="shop.marker.long"></agm-marker>
      </ng-container>
    </agm-map>
  </div>

  <div class="map--hint" *ngIf="!selectedCity">
    <i>
      Selecciona una ciudad para ver el mapa de tiendas.
    </i>
  </div>

</div>


