<div class="find-us">
  <h1>Encuentranos</h1>
  <p>Existen diferentes formas de poder disfrutar de los huevos de Vereda del Toscal.</p>
  <p>
    Por una parte y la mas gratificante, es venir a la granja para poder recogerlos directamente, recién puestos.
  </p>
  <p>
    Como entendemos que todo el mundo no dispone de tiempo para venir a visitarnos, también pueden solicitarnos
    que se los llevemos nosotros, la filosofía de canales cortos para pequeños productores como es el caso, motiva a
    prestar a parte de una producción selecta y de máxima calidad un servicio personalizado, llámenos.
  </p>
  <p>
    Por otra parte, y estando sumamente agradecidos por la confianza concedida, nuestras docenas de huevos se
    pueden encontrar y saborear en un grupo de establecimientos comerciales y restaurantes, repartidos por la provincia,
    que se esfuerzan por ofrecer productos con características diferenciadoras.
  </p>

  <h2>Selecciona una ciudad y encontraras los puntos de venta en el mapa</h2>

  <div class="cities">

    <div class="city" *ngFor="let city of cities" [ngClass]="{'city--selected':selectedCity.name == city.name}">
      <div class="city__name" (click)="onSelectCity(city)">
        <a (mouseover)="mouseHover=city.name" (mouseout)="mouseHover=''">
          <span class="fa fa-map-marker" [class.bounceIn]="mouseHover == city.name"></span>
          {{city.name}}
        </a>
      </div>

    </div>
  </div>

  <div class="map" *ngIf="selectedCity">
    <agm-map [latitude]="selectedCity?.location.lat" [longitude]="selectedCity?.location.long" [zoom]="15">
      <ng-container *ngFor="let shop of selectedCity?.shops">
        <agm-marker [latitude]="shop.marker.lat" [longitude]="shop.marker.long"></agm-marker>
      </ng-container>
    </agm-map>
  </div>

</div>


