<app-header [menuItems]="menuItems"></app-header>

<section id="who-section" style="padding:60px 1em 1em;">
  <h1>Nuestro proyecto</h1>
  <h2>Presentación. Explicando quienes somos, donde estamos, y presentación de la granja, entorno en el que se
    encuentra. </h2>
  <app-project></app-project>
</section>

<section id="prod-section" style="background-color: #f8f8f8;padding:60px 1em 1em;">
  <app-production></app-production>
</section>

<section id="team-section" class="padding:60px 1em 1em;">
  <app-team></app-team>
</section>

<section id="find-section" style="background-color: #f8f8f8;padding:60px 1em 1em;">
  <h1>Encuentranos</h1>
  <h2>Donde pueden encontrarnos (o algo así) para hablar con algunos de nuestros clientes (tiendas) para que los podamos
    ubicar o referenciar en la web. También indicar que trabajamos por un comercio directo desde la granja.
  </h2>
  <app-find-us></app-find-us>
</section>

<section id="contact-section">
  <app-contact></app-contact>
</section>

<app-footer [menuItems]="menuItems"></app-footer>
