<app-header [menuItems]="menuItems"></app-header>

<section id="project-section" style="padding:60px 1em 1em;">
  <app-project></app-project>
</section>

<section id="production-section" style="background-color: #f8f8f8;padding:60px 1em 1em;">
  <app-production></app-production>
</section>

<section id="team-section" class="padding:60px 1em 1em;">
  <app-team></app-team>
</section>

<section id="find-section" style="background-color: #eee;padding:60px 1em 1em;">
  <app-find-us></app-find-us>
</section>

<section id="contact-section">
  <app-contact></app-contact>
</section>

<app-footer [menuItems]="menuItems"></app-footer>
