<h1>Nuestro proyecto</h1>
<h2>Vereda del Toscal, es una pequeña granja de gallinas camperas, donde el principal objetivo es obtener huevos de
  calidad, mediante el cuidado y bienestar de nuestras gallinas, que viven en libertad.  </h2>
<h2>La granja se ubica próxima a Castellar de Santiago, una pequeña y bonita población del sur de Ciudad Real, en plena
  Sierra Morena, justo en la Ruta del Quijote, donde viñedos, campos de cereales, olivos, encinas y chaparros se
  entremezclan formando un paisaje de colores cambiantes dependiendo de la época del año en la que nos encontremos. </h2>

<div class="row">
  <div class="col-md-3 top-line">
    <h4>Nuestra<br>Motivación</h4>
    <p class="highlight">La motivación del proyecto es sencilla, conseguir una forma de vida que esté ubicada en el medio rural</p>
    <p>De esta forma, incidimos de manera positiva en la producción de alimentos de calidad, permitiéndonos el
      desarrollo profesional generando valor en la zona.</p>

  </div>
  <div class="col-md-3 top-line">
    <h4>Los<br>Valores</h4>
    <p class="highlight">Los valores que caracterizan al proyecto son:</p>
    <p>Bienestar animal, cuidando de nuestras gallinas con un manejo artesanal,  aportándoles alimentación sana, comfort
      y libertad para su desarrollo.</p>
    <p>Actividad respetuosa con el medio ambiente, sostenible. </p>
  </div>
  <div class="col-md-3 top-line">
    <h4>Desarrollo<br>Rural</h4>
    <p class="highlight">Aportar valor en el entorno</p>
    <p>Canal corto de distribución, generar conocimiento y confianza mediante un trato personal, filosofía de comercio directo.</p>
    <p>Responsabilidad social, tener conciencia que todo lo que hacemos y producimos repercute en lo que nos rodea y se necesita estar comprometido con la gente y con el entorno. </p>

  </div>
  <div class="col-md-3 top-line">
    <h4>Seguridad<br>Alimentaria</h4>
    <p class="highlight">Cuidando la salud de nuestros consumidores.</p>
    <p>Calidad de los procesos, para conseguir un alimento sano con sabores auténticos. </p>

  </div>
</div>
