<div class="team">

  <h1>Equipo</h1>

  <ul class="gallery">
    <ng-container *ngFor="let member of teamMembers;  let i = index">
      <li>
        <a (click)="onImageClicked(member)">
          <img [src]="member.imageSrc"/>
          <span class="name">{{member.title}}<span class="title">{{member.subtitle}}</span></span>
        </a>
      </li>

      <div class="gallery__link">
        <a class="button button--yellow" (click)="onImageClicked(member)">
          <i>{{member.title}} - {{member.subtitle}}</i>
          <span>¿Quieres saber más?</span>
        </a>
      </div>

    </ng-container>
  </ul>


  <ng-template #modalTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{selectedMember.title}} - {{selectedMember.subtitle}}</h4>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span class="fa fa-times" aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row no-gutters">
        <div class="col-md-8">
          <img class="modal-image" src="{{selectedMember.imageSrc}}">
        </div>
        <div class="col-md-4">
          <p style="padding:1em">{{selectedMember.description}}</p>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button button--yellow" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</div>


