@import "../../colors";

app-team {
  display: block;
}

.modal-large {
  .modal-dialog {
    max-width: 85%;
  }
  .close {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
  }
  .button--yellow {
    border: none;
    border-radius: 0;
    background-color: $yellow;
  }
}

.modal-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.team {
  position: relative;

  h1 {
    height: auto;
    width: 100%;
    font-size: 35px;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-weight: 400;
  }

  .gallery {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    li {
      text-align: center;
      position: relative;
      display: inline-block;
      overflow: hidden;
      background-color: black;
      flex-grow: 1;
      flex-basis: 0;
      min-width: 220px;

      img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        transform: scale(1.09, 1.09);
        transition: all .4s ease 0s;
      }

    }

    &__link {
      opacity: 0;
      width: 0;
      position: relative;
      text-align: center;
      a {
        display: inline-block;
        margin: 0 auto;
        width: auto;
        i {
          font-size: .7em;
        }
        span {
          display: block;
          font-size: .9em;
        }
      }
      .button--yellow {
        background-color: rgba(227, 138, 28, .9);
      }
    }

    .name {
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
      color: white;
      font-weight: lighter;
      font-size: 20px;
      letter-spacing: .1em;
      position: absolute;
      display: block;
      top: 40%;
      left: 0;
      text-align: center;
      opacity: 0;
      width: 100%;
      height: 100%;

    }

    .title {
      display: block;
      text-transform: none;
      font-style: italic;
      font-size: 80%;
      color: rgba(255, 255, 255, 0.7);
      opacity: 0;
      transition: all .9s ease .2s;
    }

  }

}

@media (min-width: 768px) {
  .team {
    .gallery {
      padding: 2em;
      display: flex;
      flex-wrap: wrap;
      li {
        &:hover {
          cursor: pointer;
          .name {
            opacity: 1;
            transform: scale(1, 1);
            transition: all .6s ease 0s;
          }
          .title {
            opacity: 1;
          }

          img {
            transform: scale(1, 1);
            background-position: top top;
            -webkit-filter: grayscale(0.4) blur(2px);
            filter: grayscale(0.4) blur(2px);
            transition: .8s all ease 0s;
          }
        }
      }
    }
    .gallery li:hover:hover img {
      opacity: 0.5;
    }
  }
}

@media (max-width: 767px) {
  .modal-large {
    .modal-dialog {
      max-width: 95%;
    }
  }
  .team {
    .gallery {
      &__link {
        opacity: 1;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 100%;
        margin-bottom: 1.5em;
        align-self: baseline;
      }
    }
    .image-viewer {
      .image {
        width: 100%;
        display: flex;
        align-items: center;
        img {
          max-width: 90%;
          margin: 0 auto;
        }
      }
      .text-container {
        min-height: 200px;
        max-height: 250px;
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: 500px) {
  .team {
    .gallery {
      li {
        border-radius: 50%;
      }
      &__link {
        margin-bottom: 2em;
      }
    }
    .text-container {
      max-height: 60vh;
    }
  }
}


