.produccion {
  p {
    text-align: justify;
  }
  .carousel-container {
    width: 85%;
    margin: 0 auto;
    padding: 2em;
    .carousel-inner, .carousel-item {
      max-height: 90vh;
      img {
        max-height: 100%;
        width: 100%;
      }
    }
  }
  .carousel-caption{
    display: none;
  }
  .text-with-image {
    display: flex;
    justify-content: space-between;
    align-content: center;
    span{
      align-self: center;
    }
    img{
      margin-left: 1em;
      max-width: 85px;
    }
  }
}

@media (max-width: 767px) {
  .produccion {
    .carousel-container {
      width: 90%;
    }
  }
}

@media (max-width: 500px) {
  .produccion {
    .carousel-container {
      width: 99%;
      padding: 1em 0;
    }
    .text-with-image {
      flex-direction: column;
      img{
        align-self: center;
        margin-top: 1em;
      }
    }
  }
}
