<div class="produccion">
  <h1>Producción</h1>
  <h2> Conseguimos Huevos Camperos de calidad superior, porque nuestras gallinas cuentan con unas condiciones excepcionales.</h2>

 <p>
  La producción de Huevos en Vereda del Toscal esta basada en un sistema alternativo, denominado producción Campera
   a través del cual día a día aportamos valores diferenciadores, destacando las siguientes características:
 </p>
  <p>
  La granja está ubicada en plena naturaleza, cuenta con instalaciones totalmente sostenibles, utilizando energía
   eléctrica a partir de placas fotovoltaicas, el agua proviene de manantial y los residuos que se generan,
   son reciclados o bien utilizados como abonos naturales en campos de olivos y almendros.
</p>
  <p>
  Desde la llegada de las gallinas, nos ocupamos de que tengan una buena adaptación para que todo esté lo mas confortable
   posible, evitando que sufran cualquier daño o estrés. A partir su nacimiento son preparadas para que sean activas
   y tengan un desarrollo natural.
</p>
  <p>
  Ya en la granja, disponen de acceso al aire libre, en los parques que rodean el gallinero, durante todo el día,
   donde pastan en la hierba, toman sus baños de  arena y disfrutan del sol, proporcionando un mejor desarrollo fisiológico,
   reduciendo a niveles mínimos el estrés y concentración de amoniaco en el interior del gallinero.
</p>
  <p>
  Su alimentación esta basada en cereales y leguminosas, complementada con cultivos propios de alfalfa, trébol,
   verduras de huertos próximas, etc.
</p>
  <p>
  La recogida de los huevos es diaria para que lleguen con la mayor frescura posible al consumidor y conseguir un
   control exacto de la producción. La recogida es manual, realizamos una primera selección y clasificación,
   desde este punto van directamente a nuestro centro de embalaje que se encuentra en el pueblo.
</p>
  <p>
  El proceso completo se encuentra supervisado por veterinarios especializados en la producción  de huevos en sistemas
   alternativos, que se encargan de verificar periódicamente la salud y condiciones de nuestras gallinas,
   instalaciones, alimentación, agua, etc.
</p>
  <p>
  El Centro de Embalaje es el paso previo a que la producción salga al mercado y llegue a los consumidores, donde se
   realiza una segunda selección y revisión para su envasado. El centro de embalaje vela por las garantías sanitarias
   y está sujeto a controles y auditorías periódicas, tanto de organismos externos como por parte de
   la Administración de Seguridad Alimentaria.

 </p>

  <p>
  Cuando compres huevos, SIEMPRE EL NÚMERO 1.!!!
  Si dedicas un par de segundos podrás averiguar el sistema de producción de los huevos que estas consumiendo.
  Cuando el código que está impreso empieza por el número 1, se trata de producción de GALLINAS CAMPERAS,
    esto significa que las gallinas tienen que pastar libres en parques protegidos.
    También en el código viene indicado el país, la localidad y la granja de origen.
  </p>
  <p>
  Vereda del Toscal forma parte de AHUECA (Asociación de pequeñ@s granjer@s de Huevos Camperos).
    Asociación que promueve la producción y consumo de esta clase de huevos, y cuenta con factores de exigencia de la
    calidad que deben tener todas las granjas asociadas.
  </p>

  <div class="carousel-container">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let slide of slides">
        <img [src]="slide.imageUrl" [alt]="slide.title">
        <div class="carousel-caption">
          <h3>{{slide.title}}</h3>
          <p>{{slide.text}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
